body{
    width: 100%;
    height: 25%;
    background-color: #000000;
}

#p1{
    width: 100%;
    height: 25%;
    background-color: #ff0000;
    margin: 0;
    border-color: aqua;
    border-style: dashed;
}

#p2{
    width: 100%;
    height:25%;
    background-color: #18b043;
    margin: 0;
        border-color: aqua;
    border-style: dashed;

}

#p3{
    width: 100%;
    height: 25%;
    background-color: #2e22b7;
    margin: 0;
        border-color: aqua;
    border-style: dashed;

}

#p4{
    width: 100%;
    height:25%;
    background-color: #28g743;
    margin: 0;
        border-color: aqua;
    
    border-style: dashed;

}
